<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="org.eclipse.refactoring.IntroduceIndirectionRefactoringContribution"
            id="org.eclipse.introduce.indirection"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Action set containing Eclipse Articles actions"
            id="org.eclipse.refactoring.actionSet"
            label="Eclipse Articles"
            visible="true">
         <menu
               id="org.eclipse.refactoring.menu"
               label="Eclipse &amp;Articles"
               path="edit">
            <separator name="introduceIndirection"/>
         </menu>
         <action
               class="org.eclipse.refactoring.IntroduceIndirectionAction"
               definitionId="org.eclipse.introduce.indirection"
               enablesFor="1"
               helpContextId="org.eclipse.refactoring.IntroduceIndirection"
               id="org.eclipse.refactoring.IntroduceIndirection"
               label="Introduce Indirection..."
               menubarPath="org.eclipse.refactoring.menu/introduceIndirection"
               style="push"
               tooltip="Introduce Indirection"/>
      </actionSet>
      <actionSet
            description="%CodingActionSet.description"
            id="org.eclipse.ui.actionSets"
            label="%CodingActionSet.label"
            visible="false">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu"
               label="%Refactoring.menu.label"
               path="edit">
         </menu>
         <action
               id="org.eclipse.refactoring.action1"
               label="Remove recursion"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Eclipse Articles Refactoring Actions"
            id="org.eclipse.refactoring.category"
            name="Refactor - Eclipse Articles"/>
      <command
            categoryId="org.eclipse.refactoring.category"
            description="Introduces an indirection"
            id="org.eclipse.introduce.indirection"
            name="Introduce Indirection"/>
      <category
            id="org.eclipse.refactoring.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="org.eclipse.refactoring.commands.category"
            id="org.eclipse.refactoring.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.jdt.ui.refactoring.menu">
            <command
                  commandId="org.eclipse.refactoring.command4">
            </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.eclipse.refactoring.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="org.eclipse.refactoring.commands.sampleCommand"
                  id="org.eclipse.refactoring.menus.sampleCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="org.eclipse.refactoring.commands.sampleCommand"
                  id="org.eclipse.refactoring.menus.sampleCommand2"
                  mnemonic="S2"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.refactoring.toolbars.sampleToolbar">
            <command
                  commandId="org.eclipse.refactoring.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="org.eclipse.refactoring.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.refactoring.handlers.SampleHandler"
            commandId="org.eclipse.refactoring.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.refactoring.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>

</plugin>
